<<<<<<< HEAD
.outer-div {
  width: 90%;
  height: 100vh;
  background-color: #78A1BB;
  cursor: pointer;
  padding: 100px;
}

.inner-div-1 {
  width: 90%;
  height: 100vh;
  background-color: #EBF5EE;
  padding: 100px;
}

.button {
  background-color: #283044;
  color: white;
  padding: 20px;
  margin: 100px;
}
=======
.outer-div {
  width: 90%;
  height: 100vh;
  background-color: #78A1BB;
  cursor: pointer;
  padding: 100px;
}

.inner-div-1 {
  width: 90%;
  height: 100vh;
  background-color: #EBF5EE;
  padding: 100px;
}

.button {
  background-color: #283044;
  color: white;
  padding: 20px;
  margin: 100px;
}
>>>>>>> 2eea7de7cd53209ef5faf8234bd2aa46e0469e46
